# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes
._*
.fseventsd
.TemporaryItems
.apdisk

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual Environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml
*.iws
.idea/*

# Logs and Temporary Files
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*.undo
*.trace

# System Files
Thumbs.db
Desktop.ini
ehthumbs.db

# AWS CLI and Credentials
.aws/
*.pem
*.key

# Deployment Artifacts
*.zip
*.tar.gz
*.rar
*.7z
output/

# Secrets and Configurations
terraform.tfvars
terraform.tfvars.json

# CI/CD
coverage/
*.lcov
.nyc_output
pytest_cache/
